.info-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  background-color: antiquewhite;
}

.img {
  height: 100%;
  aspect-ratio: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  padding: 1rem;
}

.info .header {
  font-size: 2rem;
  width: max-content;
  margin-bottom: 1rem;
}

.sub-header {
  font-size: 1.5rem;
  color: rgb(31, 26, 26);
  margin-top: 1.3rem;
  margin-bottom: 0.4rem;
}
.ingr-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.2rem;
}

.ingr-container .ingredient {
  font-weight: bold;
}

.glass,
.category {
  font-weight: 600;
}

.tag-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid grey;
  border-radius: 15px;
  background-color: beige;
  padding: 0.4rem;
}
